body {
    font-family: "Nunito", sans-serif;
    background-color: #e0ebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    background: linear-gradient(to right, #dcecf0 0%, #b4e0e0 100%);
}
#header {
    font-family: "Amaranth";
    color: #23417d;
    align-items: center;
    text-align: center;
    font-size: 30px;
    line-height: .5;
}
img {
    border-radius: 20px;
    margin-top: 20px;
    align-items: center;
}
a {
    color: #0077b6;
    text-decoration: none;
}
a:hover {
    color: #121023;
    text-decoration: underline;
}